<md-toolbar>
  <span>Log in</span>
</md-toolbar>
<div>
  <h1>
    Please log in
  </h1>

  <md-input-container class="input-full-width">
    <input mdInput class="" placeholder="email" value="" type="email"
           #loginInput required>
  </md-input-container>
  <md-input-container class="input-full-width">
    <input mdInput placeholder="password" value="" type="password"
           #passwordInput (keyup.enter)="_authenticateUser()" required>
  </md-input-container>
  <h4 class="error"  *ngIf="isError">
    Type correct login and password!
  </h4>
  <button md-raised-button (click)="_authenticateUser(loginInput.value, passwordInput.value)">
    Log in
    <!--<md-icon>done</md-icon>-->
  </button>
</div>


