<div id="reservation-dialog">
  <p>
    Reservation details:
  </p>
  <md-input-container class="input-full-width">
    <input mdInput class="" placeholder="email" value="" type="date">
  </md-input-container>
  <md-input-container class="input-full-width">
    <input mdInput class="" placeholder="email" value="" type="number">
  </md-input-container>
  <md-input-container class="input-full-width">
    <input mdInput class="" placeholder="email" value="" type="email">
  </md-input-container>

  <div class="buttons-container">
    <button md-button>Cancel</button>
    <button md-button>Save</button>
  </div>
</div>
